@import 'setup';

.Header {
    background: $darkBlue;
    color: #fff;
    position: relative;
    .headerTitle {
        width: 30%;
        border: 1px solid gold;
        float: left;
        position: relative;
        .logo{
            width: 15%;
            // display: inline-block;
            position: absolute;
            // left: 0;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 100%;
            }
        }
        h1 {
            // display: inline-block;
            float: left;
            margin-left: 15%;
            //position: absolute;
            //margin: 0;
            // left: 20%;
            // top: 60%;
            // transform: translateY(50%);
        }
    }
    .mainNav {
        border: 2px solid pink;
        margin-top: 37px;
        float: left;
        // .dropdownBtn {
        //     font-size: 4rem;
        //     border: none; 
        //     background: $darkBlue;
        //     color: #fff;
        // }
        ul {
            padding: 0;
            list-style-type: none;
            li {
                float: left;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 10px;
                }
                a:hover {
                    background: $red;
                    color: $lightBlue;
                }
            }
        }
    }
    .login {
        //border: 2px solid orange;
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
        button {
            padding: 10px 16px;
            background: $mediumBlue;
            color: #fff;
            border-radius: 6px;
            text-transform: uppercase;
            &:hover {
                background: $red;
                color: $lightBlue;
            }
        }
    }
    .display {
        display: block;
    }
    .hide {
        display: none;
    }
    @media (max-width: 1135px) {
        .headerTitle {
            width: 25%;
        }
    }
    @media (max-width: 1050px) {
        .headerTitle {
            width: 60%;
            transform: translateY(50%);
        }
        .mainNav{
            margin-top: 0;
            ul {
                margin-left: 20px;
                li {
                    float: none;
                    padding: 10px;
                }
            }
        }
    }
    @media (max-width: 860px) {
        .headerTitle {
            transform: none;
        }
        .mobileHide {
            display: none;
        }
        .hide {
            display: block;
            font-size: 4rem;
            border: none; 
            background: $darkBlue;
            color: #fff;
            float: right;
            margin-right: 17%;
            transform: translateY(50%);
        }
    }
}