@import 'setup';

.Header {
    background: $darkBlue;
    color: #fff;
    position: relative;
    .headerTitle {
        width: 350px;
        margin-left: 2%;
        margin-top: 20px;
        float: left;
        //position: relative;
        .logo{
            width: 20%;
            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            float: left;
            img {
                width: 100%;
            }
        }
        h1 {
            float: left;
            margin: 12px;
            //margin-left: 21%;
        }
    }
    .mainNav {
        margin-top: 40px;
        margin-right: 2%;
        float: right;
        ul {
            padding: 0;
            list-style-type: none;
            li {
                float: left;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 10px;
                }
                a:hover {
                    text-decoration: underline;
                    color: $lightBlue;
                }
            }
        }
    }
    .headerButtons {
        margin-right: 2%;
        float: right;
        padding: 7px 10px;
        width: 350px;
        .login, .locationButton {
            margin: 5px;
            float: left;
            button {
                width: 154px;
                font-size: 1.4rem;
                padding: 10px;
                background: $mediumBlue;
                color: #fff;
                border-radius: 6px;
                text-transform: uppercase;
                &:hover {
                    background: $red;
                    color: $lightBlue;
                }
            }
        }
    }
    .homeButton {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $darkBlue;
        position: fixed;
        bottom: 50px;
        right: 50px;
        background: $darkBlue;
        z-index: 30;
        transition: opacity 1s ease;
        &:hover {
            border: 2px solid $red;
        }
        &.display {
            opacity: 1;
        }
        &.hide {
            opacity: 0;
            display: block;
            z-index: -10;
        }
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        i {
            font-size: 4rem;
            color: #fff;
        }
    }
    .dropdownBtn {
        font-size: 4rem;
        border: none; 
        background: $darkBlue;
        color: #fff;
        float: right;
        transform: translateY(50%);
    }
    .display {
        display: block;
    }
    .hide {
        display: none;
    }


 //HEADER MEDIA QUERIES ======================================
    @media (min-width: 1280px) {
        .headerButtons {
            float: none;
            margin-left: calc(100% - 350px);
        }
    }
    @media (max-width: 1080px) {
        .mobileHide {
            display: none;
        }
        .dropdownBtn {
            display: block;
            float: right;
            margin-right: 2%;
        }
        .mainNav {
            position: absolute;
            z-index: 20;
            right: 1%;
            top: 60%;
            background: $darkBlue;
            ul {
                padding: 10px;
                li {
                    float: none;
                    padding: 5px;
                }
            }
        }  
        .headerButtons {
            float: right;
            margin-top: 2%;
        }  
    }
    @media (max-width: 800px) {
        .headerTitle {
            width: 100%;
            .logo {
                width: 10%;
            }
        }
        .dropdownBtn {
            margin-left: 2%;
            float: none;
            display: inline-block;
        }
        .mainNav {
            top: 75%;
            left: 2%;
        }
    }
    @media (max-width: 640px) {
        .headerTitle {
            .logo {
                width: 15%;
            }
            h1 {
                margin-top: 25px;
            }
        }
        .dropdownBtn {
            transform: none;
            margin-top: 2%;
        }
    }
    @media (max-width: 430px) {
        .headerTitle {
            h1 {
                margin-top: 10px;
            }
        }
        .dropdownBtn {
            float: left;
            margin-top: 25px;
        }
        .headerButtons {
            float: right;
            width: 160px;
            padding: 0;
            .login,
            .locationButton {
                float: none;
            }
        }
    }
}