.SavedEvents {
    border: 2px solid green;
    padding: 15px;
    > * {
        float: left;
    }
    h4 {
        font-size: 1.4rem;
    }
    .userImg {
        min-width: 50px;
        width: 10%;
        max-width: 150px;
        margin-right: 15px;
        img {
            border-radius: 50%;
        }
    }
    .title {
        width: calc(90% - 15px);
        h2 {
            margin: 7px 0;
        }
    }
    .eventListContainer {
        position: relative;
        width: calc(90% - 15px);
        border: 1px solid #000;
        ul {
            border: 1px solid tomato;
            width: 100%;
            padding: 10px 40px;
        }
        li {
            border: 1px solid #000;
            min-height: 270px;
            width: calc((100% - 40px) / 4);
            float: left;
            padding: 10px;
            margin: 0 5px;
        }
    }
    .buttonLeft, 
    .buttonRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .buttonLeft {
        left: 0;
    }
    .buttonRight {
        right: 0;
    }
    .buttonBottom {
        display: none;
    }
    @media (max-width: 950px) {
        .eventListContainer {
            li {
                min-height: 350px;
            }
        }
    }
    @media (max-width: 800px) {
        .eventListContainer {
            li {
                float: none;
                min-height: auto;
                width: 100%;
            }
        }
        .buttonLeft, 
        .buttonRight {
            display: none;
        }
        .buttonBottom {
            display: block;
        }
    }
    @media (max-width: 500px) {

    }
}//end of SavedEvents styles
